
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
 
}

#mainmenu ul li a{
    font-size: 1.2rem;
 
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item:hover .nav-link {
    font-weight: bold;
  color: #0b68cb !important;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.profile-photo {
    max-height: 50px;
    border: 1px solid black;
    display: inline;
}
