<div class="container-fluid px-0">
  <!--<app-carousel-pause></app-carousel-pause>-->

  <!--MAIN-->


  <section class="home-brand py-5 bg-white text-dark">
    <div class="container">
      <h1 class="display-3 text-center pt-1 px-3">Baw Się Treningiem</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit fugit
        quas dolores sit quidem explicabo itaque. Quisquam modi placeat amet quasi perspiciatis quia
        autem cum recusandae, iure facere velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit fugit
        quas dolores sit quidem explicabo itaque. Quisquam modi placeat amet quasi perspiciatis quia
        autem cum recusandae, iure facere velit.
      </p>
    </div>
    <hr class="w-50 mx-auto mt-4 mb-5 border">

  </section>
  <section class="container-fluid bg-dark">
  <div class="container bg-dark text-light py-5">
    <div class="row m-0 align-items-center">
      <div class="col-md-6">
        <h3><i class="fas fa-dumbbell pr-4 pl-2"></i>Planer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit fugit
          quas dolores sit quidem explicabo itaque. Quisquam modi placeat amet quasi perspiciatis quia
          autem cum recusandae, iure facere velit.
        </p>
      </div>
      <div class="col-md-6 ">
        <img src="assets/images/planer.jpg" class="img-fluid rounded">

      </div>
    </div>
  </div>


  <div class="container bg-dark text-light py-5">
    <div class="row m-0 align-items-center">
      <div class="col-md-6">
        <img src="assets/images/mobility.jpg" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <h3><i class="fas fa-running pr-4 pl-2" style="font-size:2.5rem;"></i>Mobility</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit fugit
          quas dolores sit quidem explicabo itaque. Quisquam modi placeat amet quasi perspiciatis quia
          autem cum recusandae, iure facere velit.
        </p>
      </div>
    </div>
  </div>
  </section>

  <!--<div class="container py-5">
    <div class="row m-0 align-items-center">
      <div class="col-md-6">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit fugit
          quas dolores sit quidem explicabo itaque. Quisquam modi placeat amet quasi perspiciatis quia
          autem cum recusandae, iure facere velit.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/images/home2.png" alt="Bike" class="img-fluid">
      </div>
    </div>
  </div>-->

</div>

<!--TEAM-->

<!--<section class="testimonials text-center" style="background-color: #f3f5f6;" data-spy="scroll" data-target="#list-example" data-offset="0" id="list-item-1">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase pt-4 pb-3 display-5"><i class="fas fa-align-left pr-3 pr-sm-5" style="font-size:2rem;"></i>Nasz Zespół<i class="fas fa-align-right pl-3 pl-sm-5 " style="font-size:2rem;"></i></h2>
      <h3 class="section-subheading text-muted pb-4" style="font-size:1.6rem;">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-lg-4">
        <div class="testimonial-item mx-auto mt-5 mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-4" src="assets/images/sebastian.jpg" style="height:150px; width:150px" alt="">
          <h5>Sebastian Rybak</h5>
          <p class="font-weight-light mb-4">Trener - Koordynator</p>
          <p class="font-weight-light mb-4 mx-auto" style="width:18rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum.</p>
          <div class="card-footer border px-0">
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-lg-4">
        <div class="testimonial-item mx-auto mt-5 mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-4" src="assets/images/tomek.JPG" style="height:150px; width:150px" alt="">
          <h5>Tomasz Gustołek</h5>
          <p class="font-weight-light mb-4">IT Developer</p>
          <p class="font-weight-light mb-4 mx-auto" style="width:18rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum.</p>
          <div class="card-footer border px-0">
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-lg-4">
        <div class="testimonial-item mx-auto mt-5 mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-4" src="assets/images/piotrek.jpg" style="height:150px; width:150px" alt="">
          <h5>Piotr Piórkowski</h5>
          <p class="font-weight-light mb-4">IT Developer</p>
          <p class="font-weight-light mb-4 mx-auto" style="width:18rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum.</p>
          <div class="card-footer border px-0">
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

