* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

.hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: -1;
}

.additional-text {
  font-size: 1.8rem;
}

.top-hero {
  position: relative;
  height: 20rem;
  background-size: cover;
  z-index: 0;
}

.top-hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3.6rem;
  text-transform: uppercase;
}

.service-hero {
  background-image: url(images/slider1.jpg);
  background-position: 0 75%;
}

.service-hero-box {
  position: relative;
  height: 300px;
  background-size: cover;
  z-index: 0;
}

  .service-hero-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
  }

.service-pricing .box-one {
  background-image: url(images/slider1.jpg);
}

.service-pricing .box-two {
  background-image: url('../img/service/visual.jpg');
}

.service-pricing .box-three {
  background-image: url('../img/service/car-audio.jpg');
}

.service-pricing .box-four {
  background-image: url('../img/service/allinone.jpg');
}

.service-pricing .card-header {
  font-size: 2rem;
  cursor: pointer;
}

.service-pricing h3 {
  font-weight: bold;
}

.service-pricing .btn {
  font-size: 1.6rem;
  text-transform: uppercase;
}
