
  <footer class="page-footer font-small bg-dark text-light pt-4">
    <div class="container text-center text-md-left">

      <div class="row">
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
            esse
            quasi, veritatis totam voluptas nostrum.
          </p>
        </div>      


        <hr class="clearfix w-100 d-md-none">     
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">     
          <h5 class="font-weight-bold text-uppercase mb-4">Menu</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <a class="deco-none" [routerLink]="['/']">STRONA GŁÓWNA</a>
              </p>
            </li>
            <li>
              <p>
                <a class="deco-none"  [routerLink]="['/mobility']">PLANER</a>
              </p>
            </li>
            <li>
              <p>
                <a class="deco-none" [routerLink]="['/planer']">MOBILITY</a>
              </p>
            </li>
            <li>
              <p>
                <a class="deco-none" [routerLink]="['/about-us']">O NAS</a>
              </p>
            </li>

          </ul>
        </div>
         <hr class="clearfix w-100 d-md-none">


        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">  
          <h5 class="font-weight-bold text-uppercase mb-4">Kontakt</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> New York, NY 10012, US
              </p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> info@example.com
              </p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88
              </p>
            </li>
            <li>
              <p>
                <i class="fas fa-print mr-3"></i> + 01 234 567 89
              </p>
            </li>
          </ul>
        </div>



        <hr class="clearfix w-100 d-md-none">        
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4 socials">
          <h5 class="font-weight-bold text-uppercase mb-4">Social Media</h5>
          <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/bawsietreningiem/" type="button" class="btn-floating btn-fb ">
            <i class="fab fa-3x fa-facebook color-fb"> </i>
          </a>
          <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCMKSSIcGrR5Ok0SnNnVhKPQ" type="button" class="btn-floating btn-yt my-1">
            <i class="fab fa-3x fa-youtube color-yt"></i>
          </a>
          <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/bawsietreningiem/" type="button" class="btn-floating btn-insta">
            <i class="fab fa-3x fa-instagram color-insta"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">
      © 2020 Copyright All Rights Reserved
    </div>
  </footer>
  

