.hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: -1;
}

header {
  font-size: 2rem;
}

.carousel-item {
  position: relative;
  height: 550px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.carousel-img-one {
  background-image: url(images/slider1.jpg);
}

.carousel-img-two {
  background-image: url(images/slider2.jpg);
}

.carousel-img-three {
  background-image: url(images/slider3.jpg);
}

/*@media (min-width:1400px) {
  .carousel-item {
    height: 600px;
  }

  .carousel-img-one {
    background-image: url('../img/main-carousel-1-hq.jpg');
  }

  .carousel-img-two {
    background-image: url('../img/main-carousel-2-hq.jpg');
  }

  .carousel-img-three {
    background-image: url('../img/main-carousel-3-hq.jpg');
  }
}*/

.carousel-item a{
    text-transform:uppercase;
    
}
